/* Reset default browser styles */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}


/* Set a default font and font size */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}


/* Add some spacing and styling to headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    font-weight: bold;
}


/* Style links */

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Add some spacing to paragraphs */

p {
    margin-bottom: 10px;
}


/* Style navigation menu */

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


/* Style footer */

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}


/* Main, Index.html */

.movie-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.movie-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #20202000;
    overflow: hidden;
    /* transition: width .3s ease; */
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0);
    &:hover {
        /* width: 200px; */
        background-color: #00000047;
    }
    @media screen and (min-width: 600px) {
        width: 80px;
    }
}

.nav {
    list-style-type: none;
    color: white;
    &:first-child {
        padding-top: 9.5rem;
    }
}

.nav__items {
    padding-bottom: 2.5rem;
    font-family: 'roboto';
    i {
        font-size: 1.5em;
        margin-left: 25px;
        margin-right: 10px;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
        opacity: 0;
        transition: all .5s ease;
        z-index: -10;
    }
    &:hover a:after {
        opacity: 1;
    }
}

body {
    height: auto;
    background-color: #141414 !important;
    color : #e8e7e7 !important;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;

}


/* h1 {
    margin-top: 6rem;
    margin-left: 80px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
} */